.body {
    height: 85vh;
}
.folder {
    height: 90vh;
    width: 80%;
    margin: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    border: rgb(200, 200, 200) 1px solid;
    border-radius: 30px;
}
.folder img {
    height: 60%;
}
.data {
    height: 80%;
    width: 30%;
    font-size: 140%;
}