<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet" th:href="@{/css/main.css}">
	<link type="text/css" rel="stylesheet" th:href="@{/css/menu.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/admin.css}">
	<title th:text="#{inter.admin_catalog.title}">Admin catalog</title>
</head>
<body>
	<div th:replace="/admin_header"></div>
    <div class="body">
        <div class="folder">
            <table>
                <tr>
                    <th>
                    	<div class="hamburger-menu">
			                <input id="menu__toggle" type="checkbox" />
			                <label class="menu__btn" for="menu__toggle">
			                    <span></span>
			                </label>
			                <form class="menu__box" id="param">
			                	<label class="filter_label" th:text="#{inter.admin_catalog.filter.sort}">Sorted by:</label>
			                	<div>
		                            <input type="radio" id="huey" name="sort" value="a-z" th:checked="${#request.getParameter('sort')} and ${#request.getParameter('sort')} == 'a-z'"></input>
		                        	<label for="huey" th:text="#{inter.admin_catalog.filter.sort.a}">Name (A-Z)</label>
		                        </div>
		                        <div>
		                            <input type="radio" id="huey" name="sort" value="z-a" th:checked="${#request.getParameter('sort')} and ${#request.getParameter('sort')} == 'z-a'"></input>
		                            <label for="huey" th:text="#{inter.admin_catalog.filter.sort.b}">Name (Z-A)</label>
		                        </div>
		                        <div>
		                            <input type="radio" id="huey" name="sort" value="l-h" th:checked="${#request.getParameter('sort')} and ${#request.getParameter('sort')} == 'l-h'"></input>
		                            <label for="huey" th:text="#{inter.admin_catalog.filter.sort.c}">Price (Low-High)</label>
		                        </div>
		                        <div>
		                            <input type="radio" id="huey" name="sort" value="h-l" th:checked="${#request.getParameter('sort')} and ${#request.getParameter('sort')} == 'h-l'"></input>
		                            <label for="huey" th:text="#{inter.admin_catalog.filter.sort.d}">Price (High-Low)</label>
		                        </div>
		                        <div>
		                            <input type="radio" id="huey" name="sort" value="new" th:checked="${#request.getParameter('sort')} and ${#request.getParameter('sort')} == 'new'"></input>
		                            <label for="huey" th:text="#{inter.admin_catalog.filter.sort.e}">Novelty (New-Old)</label>
		                        </div>
		                        <div>
		                            <input type="radio" id="huey" name="sort" value="old" th:checked="${#request.getParameter('sort')} and ${#request.getParameter('sort')} == 'old'"></input>
		                            <label for="huey" th:text="#{inter.admin_catalog.filter.sort.f}">Novelty (Old-New)</label>
		                        </div>
		                        
		                        <label class="filter_label" th:text="#{inter.admin_catalog.filter.gender}">Gender:</label>
		                        <div>
		                            <input type="radio" id="huey" name="gender" value="male" th:checked="${#request.getParameter('gender')} and ${#request.getParameter('gender')} == 'male'"></input>
		                            <label for="huey" th:text="#{inter.admin_catalog.filter.gender.a}">Male</label>
		                        </div>
		                        <div>
		                            <input type="radio" id="huey" name="gender" value="female" th:checked="${#request.getParameter('gender')} and ${#request.getParameter('gender')} == 'female'"></input>
		                            <label for="huey" th:text="#{inter.admin_catalog.filter.gender.b}">Female</label>
		                        </div>
		                        <div>
		                            <input type="radio" id="huey" name="gender" value="unisex" th:checked="${#request.getParameter('gender')} and ${#request.getParameter('gender')} == 'unisex'"></input>
		                            <label for="huey" th:text="#{inter.admin_catalog.filter.gender.c}">Unisex</label>
		                        </div>
		                        
		                        <label class="filter_label" th:text="#{inter.admin_catalog.filter.producer}">Producer:</label>
		                        <div th:each="producer : ${producers}">
		                        	<input type="checkbox" id="huey" name="producer" th:value="${producer}" th:checked="${#request.getParameterValues('producer')} and ${#lists.contains(#request.getParameterValues('producer'), producer)}">
		                        	<label th:text="${producer}" for="huey">Name</label>
		                        </div>
		                        
		                 		<label class="filter_label" th:text="#{inter.admin_catalog.filter.category}">Category:</label>
		                 		<div th:each="category : ${categories}">
		                        	<input type="checkbox" id="huey" name="category" th:value="${category}" th:checked="${#request.getParameterValues('category')} and ${#lists.contains(#request.getParameterValues('category'), category)}">
		                        	<label th:text="${category}" for="huey">Name</label>
		                        </div>
		                        
		                        <label class="filter_label" th:text="#{inter.admin_catalog.filter.price}">Price:</label>
		                        <div>
		                        	<span th:text="#{inter.admin_catalog.filter.price.from}">From:</span>
		                        	<input class="price" type="number" name="bot" th:value="${#request.getParameter('bot')} == null ? 0 : ${#request.getParameter('bot')}">
		                        	<span th:text="#{inter.admin_catalog.filter.price.to}">To:</span>
		                        	<input class="price" type="number" name="top" th:value="${#request.getParameter('top')} == null ? 1000 : ${#request.getParameter('top')}">
		                        </div>
		                        
		                        <input type="hidden" name="page" th:value="(${#request.getParameter('page')}) ? ${#request.getParameter('page')} : 1">
		                        
		                        <input class="button menu_btn" type="submit" th:value="#{inter.admin_catalog.filter.btn}">
			                </form>
		        		</div>
                    </th>
                    <th th:text="#{inter.admin_catalog.name}">Name</th>
                    <th th:text="#{inter.admin_catalog.category}">Category</th>
                    <th th:text="#{inter.admin_catalog.gender}">Gender</th>
                    <th th:text="#{inter.admin_catalog.producer}">Producer</th>
                    <th th:text="#{inter.admin_catalog.number}">Number</th>
                    <th th:text="#{inter.admin_catalog.price}">Price</th>
                    <th th:text="#{inter.admin_catalog.photo}">Photo</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr th:each="product : ${products}">
	    	        <td th:text="${product.getId()}">Id</td>
	                <td th:text="${product.getName()}">Name</td>
	                <td th:text="${product.getCategory()}">Category</td>
	                <td th:text="${product.getGender()}">Gender</td>
	                <td th:text="${product.getProducer()}">Producer</td>
	                <td th:text="${product.getNumber()}">Number</td>
	                <td th:text="${product.getPrice()}">Price</td>
	                <td><a class="link" th:text="${product.getPhoto()}" th:href="@{/media/{category}/{photo}(photo=${product.getPhoto()}, category=${product.getCategory()})}">Photo</a></td>
	                <td><a class="link" th:href="@{/admin_product?id={id}(id=${product.getId()})}" th:text="#{inter.admin_catalog.edit}">Edit</a></td>
	                <td><form th:action="@{/delete_product?id={id}(id=${product.getId()})}" method="POST"><input type="submit" class="link" th:value="#{inter.admin_catalog.delete}"></input></form></td>
                </tr>
                <tr>
                	<th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th><a class="link" th:href="@{/create_product}" th:text="#{inter.admin_catalog.create}">Create</a></th>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>