<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet" th:href="@{/css/main.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/header.css}">
    <script src="main.js"></script>
    <title>Header</title>
</head>
<body>
    <div class="header">
        <div class="green_head">
            <div class="social">
                <a href=""><img th:src="@{/media/social/twitter.svg}"></a>
                <a href=""><img th:src="@{/media/social/facebook.svg}"></a>
                <a href=""><img th:src="@{/media/social/instagram.svg}"></a>
                <a href=""><img th:src="@{/media/social/pinterest.svg}"></a>
                <a href=""><img th:src="@{/media/social/youtube.svg}"></a>
            </div>
            <form method="POST" th:action="@{/sign_out}" class="profile">
            	<input type="submit" class="simple_btn" value="Sign out">
            </form>
        </div>
        <div class="white_head">
            <h1>ConstStore</h1>
            <div class="w_h_links">
                <a th:href="@{/admin_catalog}">Catalog</a>
                <a th:href="@{/admin_users}">Users</a>
                <a th:href="@{/admin_categories}">Categories</a>
                <a th:href="@{/admin_producers}">Producers</a>
                <a th:href="@{/admin_orders}">Orders</a>
            </div>
            <div class="w_h_blank"></div>
        </div>
    </div>
</body>
</html>