<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet" th:href="@{/css/main.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/catalog.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/menu.css}">
    <script src="../main.js"></script>
    <title>Catalog</title>
</head>
<body>
    <div th:replace="/header"></div>
    <div class="body">
        <div class="blank"></div>
        <div class="navigation">
            <a th:href="@{/home}">Home</a>
            <img th:src="@{/media/5f8f84f3d4d23a31c1f2fcae_arrow-right-mini-icon.svg}">
            Catalog
        </div>
        <div class="all">
            <div class="a_header">
                <div class="hamburger-menu">
	                <input id="menu__toggle" type="checkbox" />
	                <label class="menu__btn" for="menu__toggle">
	                    <span></span>
	                </label>
	                <form class="menu__box" id="param">
	                	<label class="filter_label">Sorted by:</label>
	                	<div>
                            <input type="radio" id="huey" name="sort" value="a-z" th:checked="${#request.getParameter('sort')} and ${#request.getParameter('sort')} == 'a-z'"></input>
                        	<label for="huey">Name (A-Z)</label>
                        </div>
                        <div>
                            <input type="radio" id="huey" name="sort" value="z-a" th:checked="${#request.getParameter('sort')} and ${#request.getParameter('sort')} == 'z-a'"></input>
                            <label for="huey">Name (Z-A)</label>
                        </div>
                        <div>
                            <input type="radio" id="huey" name="sort" value="l-h" th:checked="${#request.getParameter('sort')} and ${#request.getParameter('sort')} == 'l-h'"></input>
                            <label for="huey">Price (Low-High)</label>
                        </div>
                        <div>
                            <input type="radio" id="huey" name="sort" value="h-l" th:checked="${#request.getParameter('sort')} and ${#request.getParameter('sort')} == 'h-l'"></input>
                            <label for="huey">Price (High-Low)</label>
                        </div>
                        <div>
                            <input type="radio" id="huey" name="sort" value="new" th:checked="${#request.getParameter('sort')} and ${#request.getParameter('sort')} == 'new'"></input>
                            <label for="huey">Novelty (New-Old)</label>
                        </div>
                        <div>
                            <input type="radio" id="huey" name="sort" value="old" th:checked="${#request.getParameter('sort')} and ${#request.getParameter('sort')} == 'old'"></input>
                            <label for="huey">Novelty (Old-New)</label>
                        </div>
                        
                        <label class="filter_label">Gender:</label>
                        <div>
                            <input type="radio" id="huey" name="gender" value="male" th:checked="${#request.getParameter('gender')} and ${#request.getParameter('gender')} == 'male'"></input>
                            <label for="huey">Male</label>
                        </div>
                        <div>
                            <input type="radio" id="huey" name="gender" value="female" th:checked="${#request.getParameter('gender')} and ${#request.getParameter('gender')} == 'female'"></input>
                            <label for="huey">Female</label>
                        </div>
                        <div>
                            <input type="radio" id="huey" name="gender" value="unisex" th:checked="${#request.getParameter('gender')} and ${#request.getParameter('gender')} == 'unisex'"></input>
                            <label for="huey">Unisex</label>
                        </div>
                        
                        <label class="filter_label">Producer:</label>
                        <div th:each="producer : ${producers}">
                        	<input type="checkbox" id="huey" name="producer" th:value="${producer}" th:checked="${#request.getParameterValues('producer')} and ${#lists.contains(#request.getParameterValues('producer'), producer)}">
                        	<label th:text="${producer}" for="huey">Name</label>
                        </div>
                        
                 		<label class="filter_label">Category:</label>
                 		<div th:each="category : ${categories}">
                        	<input type="checkbox" id="huey" name="category" th:value="${category}" th:checked="${#request.getParameterValues('category')} and ${#lists.contains(#request.getParameterValues('category'), category)}">
                        	<label th:text="${category}" for="huey">Name</label>
                        </div>
                        
                        <label class="filter_label">Price:</label>
                        <div>
                        	From:
                        	<input class="price" type="number" name="bot" th:value="${#request.getParameter('bot')} == null ? 0 : ${#request.getParameter('bot')}">
                        	To:
                        	<input class="price" type="number" name="top" th:value="${#request.getParameter('top')} == null ? 1000 : ${#request.getParameter('top')}">
                        </div>
                        
                        <input type="hidden" name="page" th:value="(${#request.getParameter('page')}) ? ${#request.getParameter('page')} : 1">
                        
                        <input class="button menu_btn" type="submit" value="Filter">
	                </form>
        		</div>
        		<div class="pagin">
        			<button form="param" class="button" th:formaction="@{/catalog_prev}" th:disabled="${#request.getParameter('page')} == null or ${#request.getParameter('page')} < 2">Backward</button>
        			<p><span th:text="${#request.getParameter('page')} ? ${#request.getParameter('page')} : '1'"></span>/<span th:text="${numberPages}"></span></p>
        			<button form="param" class="button" th:formaction="@{/catalog_next}" th:disabled="${#request.getParameter('page')} and ${#request.getParameter('page')} >= ${numberPages}">Forward</button>
        		</div>
            </div>
            <div class="showcase">
            	<div th:each="products : ${listProducts}" class="s_row">
	            	<a th:each="product : ${products}" th:href="@{/product?id={id}(id=${product.getId()})}" class="product">
	            		<img th:src="@{/media/{category}/{photo}(photo=${product.getPhoto()}, category=${product.getCategory()})}">
	            		<div class="p_info scale">
	            			<p th:text="${product.getName()}" class="p_i_text">Name</p>
	            			<p th:text="'$' + ${product.getPrice()}" class="p_i_price">Price</p>
	            		</div>
	            	</a>
            	</div>
            </div>
        </div>
        <div th:replace="/footer"></div>
    </div>
</body>
</html>