<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet" th:href="@{/css/main.css}">
    <link type="text/css"  rel="stylesheet" th:href="@{/css/error.css}">
    <title>Error</title>
</head>
<body>
    <div th:replace="/header"></div>
    <div class="body">
    	<div class="info">
	        <p>Error <span th:text="${code}"></span></p>
	        <p th:text="${message}"></p>
        </div>
    </div>
</body>
</html>