<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
	<link type="text/css" rel="stylesheet" th:href="@{/css/order_conflict.css}">
	<title th:text="#{inter.conflict.title}">Order conflict</title>
</head>
<body>
	<div class="folder">
        <div class="data">
            <h1 class="info" th:text="#{inter.conflict.text}">Conflict between local and cloud carts was found!</h1>
            <div class="tables">
                <div class="table">
                    <h1 th:text="#{inter.conflict.local}">Local cart</h1>
                    <table>
                        <tr>
                            <th th:text="#{inter.conflict.name}">Name</th>
                            <th th:text="#{inter.conflict.category}">Category</th>
                            <th th:text="#{inter.conflict.gender}">Gender</th>
                            <th th:text="#{inter.conflict.producer}">Producer</th>
                            <th th:text="#{inter.conflict.price}">Price</th>
                            <th th:text="#{inter.conflict.photo}">Photo</th>
                        </tr>
                        <tr th:each="product : ${local_products}">
                        	<td th:text="${product.getName()}">Name</td>
                        	<td th:text="${product.getCategory()}">Category</td>
                        	<td th:text="${product.getGender()}">Gender</td>
                        	<td th:text="${product.getProducer()}">Producer</td>
                        	<td th:text="${product.getPrice()}">Price</td>
                        	<td><a th:text="${product.getPhoto()}" th:href="@{/media/{category}/{photo}(photo=${product.getPhoto()}, category=${product.getCategory()})}">Photo</a></td>
                        </tr>
                    </table>
                </div>
                <div class="table">
                    <h1 th:text="#{inter.conflict.cloud}">Cloud cart</h1>
                    <table>
                        <tr>
                            <th th:text="#{inter.conflict.name}">Name</th>
                            <th th:text="#{inter.conflict.category}">Category</th>
                            <th th:text="#{inter.conflict.gender}">Gender</th>
                            <th th:text="#{inter.conflict.producer}">Producer</th>
                            <th th:text="#{inter.conflict.price}">Price</th>
                            <th th:text="#{inter.conflict.photo}">Photo</th>
                        </tr>
                        <tr th:each="product : ${cloud_products}">
                        	<td th:text="${product.getName()}">Name</td>
                        	<td th:text="${product.getCategory()}">Category</td>
                        	<td th:text="${product.getGender()}">Gender</td>
                        	<td th:text="${product.getProducer()}">Producer</td>
                        	<td th:text="${product.getPrice()}">Price</td>
                        	<td><a th:text="${product.getPhoto()}" th:href="@{/media/{category}/{photo}(photo=${product.getPhoto()}, category=${product.getCategory()})}">Photo</a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="buttons">
            <form method="POST" th:action="@{/manage_carts}">
                <input type="hidden" name="command" value="local">
                <input type="submit" class="button" th:value="#{inter.conflict.local.save}">
            </form>
            <form method="POST" th:action="@{/manage_carts}">
                <input type="hidden" name="command" value="cloud">
                <input type="submit" class="button" th:value="#{inter.conflict.cloud.save}">
            </form>
            <form method="POST" th:action="@{/manage_carts}">
                <input type="hidden" name="command" value="combine">
                <input type="submit" class="button" th:value="#{inter.conflict.combine.save}">
            </form>
        </div>
    </div>
</body>
</html>