<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
	<link type="text/css" rel="stylesheet" th:href="@{/css/order_conflict.css}">
	<title>Order conflict</title>
</head>
<body>
	<div class="folder">
        <div class="data">
            <h1 class="info">Conflict between local and cloud carts was found!</h1>
            <div class="tables">
                <div class="table">
                    <h1>Local cart</h1>
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Gender</th>
                            <th>Producer</th>
                            <th>Price</th>
                            <th>Photo</th>
                        </tr>
                        <tr th:each="product : ${local_products}">
                        	<td th:text="${product.getName()}">Name</td>
                        	<td th:text="${product.getCategory()}">Category</td>
                        	<td th:text="${product.getGender()}">Gender</td>
                        	<td th:text="${product.getProducer()}">Producer</td>
                        	<td th:text="${product.getPrice()}">Price</td>
                        	<td><a th:text="${product.getPhoto()}" th:href="@{/media/{category}/{photo}(photo=${product.getPhoto()}, category=${product.getCategory()})}">Photo</a></td>
                        </tr>
                    </table>
                </div>
                <div class="table">
                    <h1>Cloud cart</h1>
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Gender</th>
                            <th>Producer</th>
                            <th>Price</th>
                            <th>Photo</th>
                        </tr>
                        <tr th:each="product : ${cloud_products}">
                        	<td th:text="${product.getName()}">Name</td>
                        	<td th:text="${product.getCategory()}">Category</td>
                        	<td th:text="${product.getGender()}">Gender</td>
                        	<td th:text="${product.getProducer()}">Producer</td>
                        	<td th:text="${product.getPrice()}">Price</td>
                        	<td><a th:text="${product.getPhoto()}" th:href="@{/media/{category}/{photo}(photo=${product.getPhoto()}, category=${product.getCategory()})}">Photo</a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="buttons">
            <form method="POST" th:action="@{/manage_carts}">
                <input type="hidden" name="command" value="local">
                <input type="submit" class="button" value="Save local">
            </form>
            <form method="POST" th:action="@{/manage_carts}">
                <input type="hidden" name="command" value="cloud">
                <input type="submit" class="button" value="Save cloud">
            </form>
            <form method="POST" th:action="@{/manage_carts}">
                <input type="hidden" name="command" value="combine">
                <input type="submit" class="button" value="Combine local and cloud">
            </form>
        </div>
    </div>
</body>
</html>