<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet" th:href="@{/css/main.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/profile.css}">
    <title th:text="${session.user.getName()}">User</title>
</head>
<body>
    <div th:replace="/header"></div>
    <div class="body">
        <div class="folder">
            <div class="data">
                <div class="fields">
                    <p th:text="#{inter.profile.name}">Name:</p>
                    <p th:text="#{inter.profile.email}">Email:</p>
                    <p th:text="#{inter.profile.phone}">Phone:</p>
                    <p th:text="#{inter.profile.address}">Address:</p>
                    <p th:text="#{inter.profile.card}">Card:</p>
                </div>
                <div class="info">
                    <p th:text="${session.user.getName()}">Name</p>
                    <p th:text="${session.user.getEmail()}">Email</p>
                    <p th:text="${session.user.getPhone()}">Phone</p>
                    <p th:text="${session.user.getAddress()}">Address</p>
                    <p th:text="${session.user.getCard()}">Card</p>
                </div>
            </div>
            <form method="POST" th:action="@{/sign_out}">
            	<input class="button" type="submit" th:value="#{inter.profile.out}">
            </form>
        </div>
    </div>
</body>
</html>