<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet" th:href="@{/css/main.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/sign_in.css}">
    <title th:text="#{inter.sign_in.title}">Sign in</title>
</head>
<body>
    <div th:replace="/header"></div>
    <div class="body">
        <form class="sign_in_form" method="POST" th:action="@{/sign_in}">
            <p th:text="#{inter.sign_in.form}">Sign in</p>
            <span th:if="${#request.getParameter('error')}" th:text="${#request.getParameter('error')}">Error</span>
            <input name="email" class="input" type="email"  th:placeholder="#{inter.sign_in.input.email}">
            <input name="password" class="input" type="password"  th:placeholder="#{inter.sign_in.input.password}">
            <div class="buttons">
                <a class="button a_button" th:href="@{/sign_up}" th:text="#{inter.sign_in.up}">Sign up</a>
                <input class="button" type="submit" th:value="#{inter.sign_in.in}">
            </div>
        </form>
    </div>
</body>
</html>