<!DOCTYPE html>
<html  lang="en" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Test page</title>
</head>
<body>
	Hello client
	<div th:each="product : ${products}">
		<p th:text="${product.getId()}">product</p>
		<p th:text="${product.getName()}">product</p>
		<p th:text="${product.getCategory()}">product</p>
		<p th:text="${product.getDescription()}">product</p>
		<p th:text="${product.getNumber()}">product</p>
		<p th:text="${product.getPrice()}">product</p>
		<p th:text="${product.getPhoto()}">product</p>
		<p th:text="${product.getGender()}">product</p>
		<p th:text="${product.getProducer()}">product</p>
	</div>
</body>
</html>